.vscode/**
.vscode-test/**
.claude/**
src/**
storage/**
node_modules/**
.gitignore
.yarnrc
vite.config.ts
tailwind.config.js
postcss.config.js
tsconfig.json
pnpm-lock.yaml
package-lock.json
plan.md
CLAUDE.md
*.vsix
**/*.map
